{% extends "aplicacion4/index.html" %}

{% block titulo %}
<h1 class="mb-5 text-center">Acerca de mí...</h1>
{% endblock titulo %}

{% block contenido %}
<div class="container">
  <p class="text-center">
    Soy Agustín Cristofoli, tengo 28 años, nací en Santiago del Estero.
    Estudio ingeniería química, solo me falta la tesis para recibirme,
    trabajo en una industria citrícola en Tucumán.
    Me gusta ir al gimnasio, correr y estar con amigos en mi tiempo libre.
    También me gustan mucho los videojuegos y películas, sobre todo si son
    de temática de terror.
  </p>
</div>
{% endblock contenido %}
