{% extends "aplicacion4/index.html" %}

{% block titulo %}
<h1 class="mb-5 text-center">Clientes</h1>
{% endblock titulo %}

{% block contenido %}
<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody> 
    {% for cl in cliente_list %}
      <tr>
        <td>{{ cl.id }}</td>
        <td>{{ cl.nombre }}</td>
        <td>{{ cl.apellido }}</td>
        <td>{{ cl.email }}</td>

        <td>
               <a href="{% url 'cliente_create' %}" class="btn btn-primary btn-sm me-2" title="Crear">
            <i class="fa fa-plus"></i>
          </a>
          <a href="{% url 'cliente_update' cl.id %}" class="btn btn-warning btn-sm me-2" title="Actualizar">
            <i class="fa-solid fa-file-pen"></i>
          </a>
          <a href="{% url 'cliente_delete' cl.id %}" class="btn btn-danger btn-sm" title="Eliminar">
            <i class="fa fa-trash"></i>
                </a>                
            </td> 
      </tr>
    {% endfor %}
  </tbody> 
</table>
{% endblock contenido %}
